.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: 100%;
  padding: 0 40px;
  font-family: 'Poppins', sans-serif;
  background-color: black; /* optional */
  z-index: 10;
}

.navbar-left {
  display: flex;
  align-items: center;
  width: 20%;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 20%;
}
.navbar-right p{
    font-size: 0.9rem;
    text-decoration: underline;
}

.navbar-profile {
  margin: 0px 20px 0px;
  display: flex;
  align-items: center;
  gap: 7px;
  position: relative;
  width: max-content;
}

.navbar-links {
  width: 50%;
}

.logoImage {
  height: 35px;
  width: auto;
}

.navbar-links ul {
  display: flex;
  list-style: none;
  gap: 25px;
  padding: 0;
  margin: 0;
}

.navbar-links ul li {
  cursor: pointer;
}


.icons {
  width: 20px;
  cursor: pointer;
}

.profile-image {
  height: auto;
  width: 35px;
  border-radius: 3px;
}

.navbar-profile {
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  width: max-content;
  top: 100%;
  right: 0;
  background-color: #111;
  padding: 18px 22px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}
.dropdown p{
    font-size: 0.8rem;
    gap: 5px;
}

.navbar-profile:hover .dropdown {
  display: block;
}
